@media {
    h1 {
        font-family: "Migra", serif;
        font-size: 72px;
        padding: 30px, 30px, 30px, 30px; 
    }
    p {
        font-size: 18px; 
          padding: 20px;
        
        }
    body {
            padding: 20px;}
}

