@media {
    body {
        background-color: white;
    }

    p {
        font-size: 18px;
    }

    h1 {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: normal;
          text-align: center;
    }
}

      

    h4 {
        font-family: "Migra", serif;
    }
    hr {
        color: #008085;
        border: none;
        height: 12px;
        background: #008085;
        margin: 20px 0;
    }

    #map {
        margin: auto;
        text-align: center;
    }

    h2 {
        font-family: "Migra", serif;
    }
    #topper {
        text-align: center;
    }

    #quotes {
        background-color: #008085;
        color: white;
    }
    #quotes {
        border-color: white;
        border-left: 100px;
    }

    img {
        width: 100%;
        border-radius: 50px;
        margin: auto;
        text-align: center;
    }
    
    #second_pic {
        
        width: 100%; 
        
    }
    
    #third_pic {
        width:100%; 
    }

    #story {
        width: 100%;
        margin: auto;
        background-color: white;
           font-family: "Tinos", serif;
        font-weight: 400;
        font-style: normal;
    }
    

    #story_1 {
        width: 100%;
        margin: auto;
        font-family: "Oswald", sans-seri;
        background-color: white;
    }

    #story_2 {
        width: 100%;
        margin: auto;
        font-family: "Oswald", sans-seri;
        background-color: white;
        color: black;
    }

    #story_3 {
        width: 100%;
        margin: auto;
        font-family: "Oswald", sans-seri;
        background-color: white;
        color: black;
    }

    #story_4 {
        width: 100%;
        margin: auto;
        text-align; 
        font-family: "Oswald", sans-seri;
        background-color: white;
        color: black;
    }

    blockquote {
        font-family: "Playfair Display", serif;
        font-size: 1.5rem;
        font-style: italic;
        color: #ffffff;
        border-left: 5px solid #ffd700;
        background-color: rgba;

        padding: 15px 20px;
        margin: 20px 0;
        line-height: 1.6;
        text-align: center;
    }

    #cite {
        color: white;
        margin: auto;
        text-align: center;
    }

#segway {
        background-color: #008085;
        color: white;
        margin:auto; 
    }

    #extra {
        background-color: #008085;
        color: white;
        margin: auto;
    }
}
@media (min-width: 576px) {
    #story {
        width: 60%;
    }
    
    #img {width: 60%;}
    #story_1 { width: 60%;}
    
    #story_2 { width: 60%; }
    
    #story_3 {width: 60%;}
    
    #story_4 {width: 60%; }
    
    #quotes {width:60%;}
    
    #extra {width:60%; }
    
    #second_pic { width: 60%;}
    
    #segway {width: 60%;}
}
