@media {
    body {
        background-color: white;
    }

    p {
        font-size: 18px;
    }

    h1 {
        font-family: "Migra", serif;
        text-align: center;
    }

    h4 {
        font-family: "Migra", serif;
    }
    hr {
        color: #008085;
        border: none;
        height: 12px;
        background: #008085;
        margin: 20px 0;
    }

    h2 {
        font-family: "Migra", serif;
    }
    #topper {
        text-align: center;
    }

    #quotes {
        background-color: #008085;
        color: white;
    }
    #quotes {
        border-color: white;
        border-left: 100px;
    }

    img {
        width: 100%;
        border-radius: 50px;
        margin: auto;
        text-align: center;
    }

    #story {
        width: 100%;
        margin: auto;
        font-family: "Oswald", sans-seri;
    }

    blockquote {
        font-family: "Playfair Display", serif;
        font-size: 1.5rem;
        font-style: italic;
        color: #ffffff;
        border-left: 5px solid #ffd700;
        background-color: rgba;

        padding: 15px 20px;
        margin: 20px 0;
        line-height: 1.6;
        text-align: center;
    }

    #cite {
        color: white;
        margin: auto;
        text-align: center;
    }

    #segway {
        background-color: #008085;
        color: white;
    }

    #extra {
        background-color: #008085;
        color: white;
        margin: auto;
    }
}
@media (min-width: 576px) {
    #story {
        width: 60%;
    }
}
